<% include ../partials/head %>

<nav class="withThumb" role="navigation">
	<div class="wrapper">
		<a class="back" href="/users/<%= data.username %>">To profile</a>
		<h2>Edit profile</h2>
		<div class="user">
			<span>Hi, <%= data.name %></span>
			<% if (!data.thumb) { %>
			<a href="/users/<%= data.username %>" style="background: url('images/profile.jpg') no-repeat center center;""></a>
			<% } else { %>
			<a href="/users/<%= data.username %>" style="background: url('uploads/<%= data.username %>/<%= data.thumb %>') no-repeat center center;"></a>
			<% } %>
			<ul class="submenu">
				<li><a href="/edit"><img src="icons/edit.svg"> <span>Edit profile</span></a></li>
				<li><a href="/logout"><img src="icons/logout.svg"> <span>logout</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="header"></div>

<section class="form">
	<div>
		<h1>Edit your profile</h1>
		<form action="/edit?_method=PUT" method="POST" enctype="multipart/form-data">
			<label>Your name
				<input type="text" name="name" value="<%= data.name %>" required>
			</label>
			<label>Email
				<input type="text" name="email" value="<%= data.email %>" required>
			</label>
			<label>Where you from
				<input type="text" name="place" value="<%= data.place %>" required>
			</label>
			<label for="fileInput" class="fileInputLabel">
				<input id="fileInput" type="file" name="thumb">
				<span class="filename"></span>
				<span class="browseButton">Choose picture</span>
			</label>
			<button type="submit">Update</button>
		</form>
	</div>
</section>

<section class="delete">
	<form action="/edit?_method=DELETE" method="POST">
		<h2>Do you want to delete your account?</h2>
		<button type="submit">Delete account</button>
	</form>
</section>

<% include ../partials/footer %>