<% include ../partials/head %>

<nav class="withThumb" role="navigation">
	<div class="wrapper">
		<a class="post" href="/feed">To feed</a>
		<h2>Feed</h2>
		<div class="user">
			<span>Hi, <%= data.name %></span>
			<% if (!data.thumb) { %>
			<a href="/users/<%= data.username %>" style="background: url('images/profile.jpg') no-repeat center center;""></a>
			<% } else { %>
			<a href="/users/<%= data.username %>" style="background: url('uploads/<%= data.username %>/<%= data.thumb %>') no-repeat center center;"></a>
			<% } %>
			<ul class="submenu">
				<li><a href="/edit"><img src="icons/edit.svg"> <span>Edit profile</span></a></li>
				<li><a href="/logout"><img src="icons/logout.svg"> <span>logout</span></a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="header"></div>

<section class="form">
	<div>
		<form action="/write" method="POST" enctype="multipart/form-data">
			<h1>Write your story</h1>
			<label>What's the title
				<input type="text" name="title" placeholder="Title.." required>
			</label>
			<label>Where did your story happen
				<input type="text" name="where" placeholder="Tell us the place" required>
			</label>
			<input type="number" step="any" name="lat" placeholder="Latitude">
			<input type="number" step="any" name="long" placeholder="Longtitude">
			<span class="label">Do you have a picture?</span>
			<label for="fileInput" class="fileInputLabel">
				<input id="fileInput" type="file" name="banner">
				<span class="filename"></span>
				<span class="browseButton">Choose picture</span>
			</label>
			<label>Summary
				<textarea name="summary"></textarea>
			</label>
			<label>The story
				<textarea name="story"></textarea>
			</label>
			<input type="hidden" name="name" value="<%= data.name %>">
			<input type="hidden" name="thumb" value="<%= data.thumb %>">
			<button type="submit">Post story</button>
		</form>
	</div>
</section>

<% include ../partials/footer %>